@{

    ViewData["Title"] = "Home ";
}


<section id="about" class="about">
    <div class="container-fluid">

        <div class="row">
            <div class="col-xl-5 col-lg-6   ">
                <a><img src="~/assets/img/8.jpg" alt=""></a>
            </div>

            <div class="col-xl-7 col-lg-6 icon-boxes d-flex flex-column align-items-stretch justify-content-center py-5 px-lg-5">
                <h3> Blood Donation Tips</h3>
                <p>
                    If you plan to give blood, follow these steps:

                    Drink plenty of water. Staying hydrated makes it easier to find your veins and prevents you from becoming light-headed after donating, Dr. Vossoughi says.
                    Eat well beforehand. Don’t skip breakfast, and be sure to eat snacks offered to you. “These things will help you tolerate the donation well and feel like yourself the rest of the day,” she says.
                    Exercise before donating blood, not afterward. It’s OK to go to the gym before you donate blood but not so wise afterward. “We don’t want people getting dizzy,” Dr. Vossoughi says. “You’ve basically done your workout for the day once you’ve donated blood.”
                    Take iron tablets. The American Red Cross recommends that individuals who donate blood frequently take an iron supplement or a multivitamin with iron. “More and more, we’re recommending that teenage donors in particular take iron, because it’s been shown that teenage donors may become iron deficient after blood donation,” Dr. DeSimone says.
                </p>

            </div>
            <div class="col-xl-5 col-lg-6   ">
                <a><img src="~/assets/img/1.jpg" alt=""></a>
            </div>
        </div>

    </div>
</section><!-- End About Section -->
<!-- ======= Frequently Asked Questions Section ======= -->
<section id="faq" class="faq section-bg">
    <div class="container">

        <div class="section-title">
            <h2>Frequently Asked Questions</h2>
        </div>

        <div class="faq-list">
            <ul>
                <li data-aos="fade-up">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" class="collapse" data-bs-target="#faq-list-1">What does your site offer? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-1" class="collapse show" data-bs-parent=".faq-list">
                        <p>
                            Our website provides a registration service for people who want to donate blood and distribute it to blood banks, and then determine the date of their donation
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="100">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-2" class="collapsed"> I want to donate and I do not know my blood type, so can I? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-2" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            Well, you can because we will do the necessary tests before donating and through them we can determine your blood type
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="200">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-3" class="collapsed">How do I know my donation date? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-3" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            After you register your data on the site, you will see the date and time of your attendance for the examinations and the completion of the donation process
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="300">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-4" class="collapsed">Can I register for more than one person to come with me and donate as well? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-4" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            No, each of you can register for yourself to increase security and accuracy
                        </p>
                    </div>
                </li>

                <li data-aos="fade-up" data-aos-delay="400">
                    <i class="bx bx-help-circle icon-help"></i> <a data-bs-toggle="collapse" data-bs-target="#faq-list-5" class="collapsed">How do I know the location of the hospital? <i class="bx bx-chevron-down icon-show"></i><i class="bx bx-chevron-up icon-close"></i></a>
                    <div id="faq-list-5" class="collapse" data-bs-parent=".faq-list">
                        <p>
                            The website will appear with the date of the donation
                        </p>
                    </div>
                </li>

            </ul>
        </div>

    </div>
</section><!-- End Frequently Asked Questions Section -->
<!-- ======= Gallery Section ======= -->
<section id="gallery" class="gallery">
    <div class="container">
        <div class="section-title">
            <h2>Gallery</h2>
        </div>
    </div>

    <div class="container-fluid">
        <div class="row g-0">

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-1.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-1.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-2.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-2.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-3.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-3.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-4.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-4.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-5.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-5.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-6.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-6.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-7.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-7.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

            <div class="col-lg-3 col-md-4">
                <div class="gallery-item">
                    <a href="~/assets/img/gallery/gallery-8.jpg" class="galelry-lightbox">
                        <img src="~/assets/img/gallery/gallery-8.jpg" alt="" class="img-fluid">
                    </a>
                </div>
            </div>

        </div>

    </div>
</section><!-- End Gallery Section -->
